<%= form_for(@admin_page) do |f| %>
  <% if @admin_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_page.errors.count, "error") %> prohibited this admin_page from being saved:</h2>

      <ul>
      <% @admin_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="actions" align="center">    <%= f.submit %>  </div>

  <div class="field">
    <%= f.label :is_deleted %>  <%= f.check_box :is_deleted %> |
    <%= f.label :parent_id %> <%= f.text_field :parent_id, :size => 5  %> |
    <%= f.label :position %>   <%= f.text_field :position, :size => 5  %> |
    <%= f.label :is_published %>  <%= f.check_box :is_published %>
    
    <%= f.label :skin_id %>  <%= f.text_field :skin_id, :size => 4 %>
    
  </div>
  <div class="field">
    <%= f.label :title %> <%= f.text_field :title, :size => 80 %>
  </div>
  <div class="field">
    <%= f.label :menu_title %>  <%= f.text_field :menu_title, :size => 80 %>
    <%= f.label :is_shown_in_menu %>     <%= f.check_box :is_shown_in_menu %> 
  </div>
  
  <div class="field">
    <%= f.label :announce %>
    <%= f.label :is_preview_published %> <%= f.check_box :is_preview_published %>
    <br>
    <%#= f.text_area :announce %>
    <%= f.cktext_area :announce, :class => 'someclass', :ckeditor => {:language => 'en', :height => 80, :toolbar => 'mini'} %>  <%#  , :toolbar => 'mini'  %>
  </div>
  
  <div class="actions" align="center">    <%= f.submit %>  </div>
  
  <div class="field">
    <%= f.label :body %><br>
    <%#= f.text_area :body %>
    <%= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'en', :height => 500, :css => '/assets/skel/css/style.css'} %>
  </div>

  
  <div class="field">
   <%= f.label :script_for_eval %>  <%= f.text_field :script_for_eval, :size => 20 %><br />
   <%= f.label :script_after %>  <%= f.text_field :script_after, :size => 20 %>
  </div>


  <%= render :partial => "admin/meta_tags_form", :locals => {:f => f}  %>

  
  <div class="actions" align="center">    <%= f.submit %>  </div>
<% end %>


  <%#= form.cktext_area :notes, :class => 'someclass', :ckeditor => {:language => 'uk'} %>
  <%#= form.cktext_area :content, :value => 'Default value', :id => 'sometext' %>
  <%#= cktext_area :page, :info, :cols => 40, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'mini'} %>
  
  
<%#  
=begin

$(document).ready(function()
{
    var editor = CKEDITOR.replace('здесь ID текстарии',
    {
        // настройка тулбара
        toolbar:
        [
            ['Source'],
            ['Link', 'Image'],
            ['Undo','Redo'],
            ['Bold', 'Italic', 'Underline', 'Strike', '-', 'Subscript', 'Superscript'],
            ['Find','Replace','-','SelectAll','RemoveFormat'],
            ['NumberedList', 'BulletedList', '-', 'SpecialChar', '-', 'Outdent', 'Indent', 'Blockquote'],
        ],
        // настройка высоты
        height: 290,
        // если нужно загружать файлы
        filebrowserUploadUrl: 'file/Uploader/Url'
        // если нужно чтобы контент отображался в определенных стилях, например в стилях сайта
        contentsCss: '/content/css/style.css',
        
        contentsCss: '/assets/skel/css/style.css'
    });
});
=end
%>
  