<h1>Listing admin_pages</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Position</th>
      <th>Is deleted</th>
      <th>Is published</th>
      <th>Is shown in menu</th>
      <th>Is preview published</th>
      <th>Title</th>
      <th>Menu title</th>
      <th>Announce</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_pages.each do |admin_page| %>
      <tr>
        <td><%= admin_page.parent_id %></td>
        <td><%= admin_page.position %></td>
        <td><%= admin_page.is_deleted %></td>
        <td><%= admin_page.is_published %></td>
        <td><%= admin_page.is_shown_in_menu %></td>
        <td><%= admin_page.is_preview_published %></td>
        <td><%= admin_page.title %></td>
        <td><%= admin_page.menu_title %></td>
        <td><%= admin_page.announce %></td>
        <td><%= admin_page.body %></td>
        <td><%= link_to 'Show', admin_page %></td>
        <td><%= link_to 'Edit', edit_admin_page_path(admin_page) %></td>
        <td><%= link_to 'Destroy', admin_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_admin_page_path %>
