<h1>Listing admin_homesteads</h1>

<table border="0" cellspacing="0" cellpadding="4" class="tdborders_ccc">
  <thead>
    <tr>
      <th> id  </th>
      <th> del </th>
      <th>Domain</th>
      <th>Land<br /> use</th>
      <th>Site<br /> num</th>
      <th>Cadastral<br /> num</th>
      <th>Phase</th>
      <th>Status</th>
      <th>Square<br /> meters</th>      
      <th>price<br /> for are</th>
      <th>Price</th>
      <th>Infra</th>
      <th>K<br /> interes</th>
      <th>K<br /> browsing</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_homesteads.each do |admin_homestead| %>
      <tr>
        <td align="center"><%= admin_homestead.id %></td>
        <td align="center"><%= link_to '[x]', admin_homestead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td align="center"><%= admin_homestead.domain_id %></td>
        <td align="center"><%= admin_homestead.land_use_id %></td>
        <td align="center"><%= admin_homestead.site_num %></td>
        <td align="center"><%= admin_homestead.cadastral_num %></td>
        <td align="center"><%= admin_homestead.phase %></td>
        <td align="center"><%= admin_homestead.status_id %></td>
        <td align="right"><%= admin_homestead.square_meters %></td>        
        <td align="right"><%= admin_homestead.price_for_are %></td>
        <td align="right"><%= admin_homestead.price %></td>
        <td align="right"><%= admin_homestead.price_infra %></td>
        <td align="center"><%= admin_homestead.k_interes %></td>
        <td align="center"><%= admin_homestead.k_browsing %></td>
        <td align="center"><%= link_to 'Show', admin_homestead %></td>
        <td align="center"><%= link_to 'Edit', edit_admin_homestead_path(admin_homestead) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Homestead', new_admin_homestead_path %>
