<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @admin_homestead.domain_id %>
</p>

<p>
  <strong>Land use:</strong>
  <%= @admin_homestead.land_use_id %>
</p>

<p>
  <strong>Site num:</strong>
  <%= @admin_homestead.site_num %>
</p>

<p>
  <strong>Cadastral num:</strong>
  <%= @admin_homestead.cadastral_num %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @admin_homestead.phase %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_homestead.status_id %>
</p>

<p>
  <strong>Acreage s:</strong>
  <%= @admin_homestead.square_meters %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_homestead.price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @admin_homestead.discount %>
</p>

<p>
  <strong>Has coast:</strong>
  <%= @admin_homestead.has_coast %>
</p>

<p>
  <strong>Has forest:</strong>
  <%= @admin_homestead.has_forest %>
</p>

<p>
  <strong>Corner site:</strong>
  <%= @admin_homestead.corner_site %>
</p>

<p>
  <strong>Outside site:</strong>
  <%= @admin_homestead.outside_site %>
</p>

<p>
  <strong>Land link:</strong>
  <%= @admin_homestead.land_link_id %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @admin_homestead.shape_id %>
</p>

<p>
  <strong>Slope:</strong>
  <%= @admin_homestead.slope %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @admin_homestead.altitude %>
</p>

<p>
  <strong>K interes:</strong>
  <%= @admin_homestead.k_interes %>
</p>

<p>
  <strong>K browsing:</strong>
  <%= @admin_homestead.k_browsing %>
</p>

<p>
  <strong>Neighbors:</strong>
  <%= @admin_homestead.neighbors %>
</p>

<p>
  <strong>Note:</strong>
  <%= @admin_homestead.note %>
</p>

<%= link_to 'Edit', edit_admin_homestead_path(@admin_homestead) %> |
<%= link_to 'Back', admin_homesteads_path %>
