
<p style="font-size:11px;">

  <%= link_to 'Site',       root_path  %> 
| <%= link_to 'Admin',      admin_home_index_path  %> 
| <%= link_to 'Страницы',   admin_pages_path  %> 
| <%= link_to 'Документы',  ''  %> 
| <%= link_to 'Новости',    ''  %> 
| <%= link_to 'Галерея',    ''  %> 
| <%= link_to 'Участки1',   ''  %> 
| <%= link_to 'Участки2',   ''  %>  
| <%= link_to 'Участки3',   ''  %>  
| <%= link_to 'Запросы',    ''  %>  
| <%= link_to 'Баннеры',    ''  %>  
| <%= link_to 'Статистика', admin_home_stats_path  %>  
| <%= link_to 'Adm', '' %> 

</p>

<%= render 'shared/sign_in_out'  %>

