		<div class="map">
			<img src="<%= page.has_script_after.to_s.gsub(/\Amap-/, '')  -%>" width="1170" height="800" class="map-image" alt="">
			<img src="/assets/skel/img/overlay.png" class="map-overlay" usemap="#map" alt="">
			<map id="map" name="map">


<% if @page.id == 8 or @page.id == 10  %>
  <%= areas_for_map(Homestead.where(:domain_id => 1))  -%>
<% end %>

<% if @page.id == 9  %>
  <%= areas_for_map(Homestead.where(:domain_id => [2,3]))  -%>
<% end %>



<%# 
--------------------------------------------------
#1

175    <area shape="poly" alt="28 " data-type="6" coords="401, 600, 386, 596, 395, 572, 408, 575" />
177    <area shape="poly" alt="29 " data-type="6" coords="424, 579, 417, 604, 401, 600, 408, 575" />
179    <area shape="poly" alt="30 " data-type="6" coords="440, 611, 425, 607, 432, 581, 447, 585" />
181    <area shape="poly" alt="31 " data-type="6" coords="456, 615, 463, 589, 447, 585, 440, 611" />
183    <area shape="poly" alt="32 " data-type="6" coords="479, 621, 464, 617, 471, 591, 486, 596" />
185    <area shape="poly" alt="33 " data-type="6" coords="495, 625, 479, 621, 486, 596, 502, 600" />
187    <area shape="poly" alt="34 " data-type="6" coords="518, 632, 503, 628, 510, 602, 525, 606" />
189    <area shape="poly" alt="35 " data-type="6" coords="534, 636, 541, 611, 525, 606, 518, 632" />
191    <area shape="poly" alt="36 " data-type="6" coords="557, 642, 542, 638, 548, 613, 564, 617" />
193    <area shape="poly" alt="37 " data-type="6" coords="573, 646, 580, 621, 564, 617, 557, 642" />
195    <area shape="poly" alt="38 " data-type="6" coords="596, 653, 581, 649, 588, 623, 603, 627" />
197    <area shape="poly" alt="39 " data-type="6" coords="612, 657, 619, 632, 603, 627, 596, 653" />

198    <area shape="poly" alt="16 " data-type="6" coords="589, 678, 609, 681, 616, 658, 596, 653" />
196    <area shape="poly" alt="17 " data-type="6" coords="577, 647, 596, 653, 589, 678, 575, 676, 570, 674" />
194    <area shape="poly" alt="18 " data-type="6" coords="551, 667, 570, 674, 577, 647, 557, 642" />
192    <area shape="poly" alt="19 " data-type="6" coords="532, 660, 551, 667, 557, 642, 538, 637" />
190    <area shape="poly" alt="20 " data-type="6" coords="512, 654, 532, 660, 538, 637, 518, 632" />
188    <area shape="poly" alt="21 " data-type="6" coords="493, 647, 512, 654, 518, 632, 499, 626" />
186    <area shape="poly" alt="22 " data-type="6" coords="474, 641, 493, 647, 499, 626, 479, 621" />
184    <area shape="poly" alt="23 " data-type="6" coords="455, 636, 474, 641, 479, 621, 460, 616" />
182    <area shape="poly" alt="24 " data-type="6" coords="435, 631, 455, 636, 460, 616, 440, 611" />
180    <area shape="poly" alt="25 " data-type="6" coords="416, 625, 435, 631, 440, 611, 421, 605" />
178    <area shape="poly" alt="26 " data-type="6" coords="396, 620, 416, 625, 421, 605, 401, 600" />
176    <area shape="poly" alt="27 " data-type="6" coords="386, 596, 381, 595, 375, 610, 380, 616, 396, 620, 401, 600" />

200    <area shape="poly" alt="40 " data-type="6" coords="630, 684, 609, 681, 616, 658, 619, 659, 635, 663" />
202    <area shape="poly" alt="41 " data-type="6" coords="655, 668, 635, 663, 630, 684, 633, 684, 648, 692" />
199    <area shape="poly" alt="42 " data-type="6" coords="642, 638, 627, 634, 619, 659, 635, 663" />
201    <area shape="poly" alt="43 " data-type="6" coords="657, 642, 651, 667, 635, 663, 642, 638" />
204    <area shape="poly" alt="44 " data-type="6" coords="676, 675, 676, 709, 648, 692, 655, 668" />
203    <area shape="poly" alt="45 " data-type="6" coords="665, 644, 659, 670, 676, 675, 677, 647" />

ss    <area shape="poly" alt="1  " data-type="6" coords="660, 699, 644, 726, 640, 727, 637, 727, 634, 726, 631, 722, 648, 692" />
ss    <area shape="poly" alt="2  " data-type="6" coords="622, 713, 631, 722, 648, 692, 633, 684, 630, 684" />
ss    <area shape="poly" alt="3  " data-type="6" coords="602, 709, 613, 707, 622, 713, 630, 684, 609, 681" />
ss    <area shape="poly" alt="4  " data-type="6" coords="581, 709, 592, 705, 598, 709, 602, 709, 609, 681, 589, 678" />
ss    <area shape="poly" alt="5  " data-type="6" coords="589, 678, 581, 709, 564, 699, 570, 674, 575, 676" />
ss    <area shape="poly" alt="6  " data-type="6" coords="551, 667, 570, 674, 564, 699, 559, 696, 550, 696, 544, 694" />
ss    <area shape="poly" alt="7  " data-type="6" coords="524, 689, 537, 699, 544, 694, 551, 667, 532, 660" />
ss    <area shape="poly" alt="8  " data-type="6" coords="512, 654, 532, 660, 524, 689, 504, 684" />
ss    <area shape="poly" alt="9  " data-type="6" coords="485, 676, 504, 684, 512, 654, 493, 647" />
ss    <area shape="poly" alt="10 " data-type="6" coords="468, 663, 485, 676, 493, 647, 474, 641" />
ss    <area shape="poly" alt="11 " data-type="6" coords="468, 663, 454, 657, 448, 658, 455, 636, 474, 641" />
ss    <area shape="poly" alt="12 " data-type="6" coords="428, 656, 448, 658, 455, 636, 435, 631" />
ss    <area shape="poly" alt="13 " data-type="6" coords="410, 645, 424, 655, 428, 656, 435, 631, 416, 625" />
ss    <area shape="poly" alt="14 " data-type="6" coords="389, 645, 410, 645, 416, 625, 396, 620" />
ss    <area shape="poly" alt="15 " data-type="6" coords="375, 610, 366, 633, 389, 645, 396, 620, 380, 616" />

216    <area shape="poly" alt="46 " data-type="6" coords="593, 613, 613, 618, 615, 618, 618, 617, 619, 615, 619, 593, 599, 587" />
215    <area shape="poly" alt="47 " data-type="6" coords="574, 607, 593, 613, 599, 587, 580, 582" />
214    <area shape="poly" alt="48 " data-type="6" coords="558, 603, 574, 607, 580, 582, 565, 578" />
213    <area shape="poly" alt="49 " data-type="6" coords="542, 599, 558, 603, 565, 578, 549, 574" />
212    <area shape="poly" alt="50 " data-type="6" coords="527, 595, 542, 599, 549, 574, 534, 570" />
211    <area shape="poly" alt="51 " data-type="6" coords="511, 590, 527, 595, 534, 570, 518, 565" />
210    <area shape="poly" alt="52 " data-type="6" coords="495, 586, 511, 590, 518, 565, 502, 561" />
209    <area shape="poly" alt="53 " data-type="6" coords="479, 582, 495, 586, 502, 561, 486, 557" />
208    <area shape="poly" alt="54 " data-type="6" coords="464, 578, 479, 582, 486, 557, 470, 553" />
207    <area shape="poly" alt="55 " data-type="6" coords="448, 574, 464, 578, 470, 553, 455, 548" />
206    <area shape="poly" alt="56 " data-type="6" coords="429, 569, 448, 574, 455, 548, 437, 543" />
205    <area shape="poly" alt="57 " data-type="6" coords="416, 537, 409, 557, 410, 560, 411, 562, 414, 564, 429, 569, 437, 543" />

227    <area shape="poly" alt="58 " data-type="6" coords="452, 547, 426, 540, 428, 529, 449, 519, 459, 522" />
226    <area shape="poly" alt="59 " data-type="6" coords="477, 527, 459, 522, 452, 547, 470, 553" />
225    <area shape="poly" alt="60 " data-type="6" coords="493, 531, 477, 527, 470, 553, 486, 557" />
224    <area shape="poly" alt="61 " data-type="6" coords="509, 536, 493, 531, 486, 557, 502, 561" />
223    <area shape="poly" alt="62 " data-type="6" coords="524, 540, 509, 536, 502, 561, 518, 565" />
222    <area shape="poly" alt="63 " data-type="6" coords="540, 544, 524, 540, 518, 565, 534, 570" />
221    <area shape="poly" alt="64 " data-type="6" coords="549, 574, 534, 570, 540, 544, 556, 548" />
220    <area shape="poly" alt="65 " data-type="6" coords="572, 553, 556, 548, 549, 574, 565, 578" />
219    <area shape="poly" alt="66 " data-type="6" coords="580, 582, 565, 578, 572, 553, 587, 557" />
218    <area shape="poly" alt="67 " data-type="6" coords="597, 587, 580, 582, 587, 557, 593, 558, 604, 561" />
217    <area shape="poly" alt="68 " data-type="6" coords="619, 561, 619, 593, 597, 587, 604, 561" />

242    <area shape="poly" alt="69 " data-type="6" coords="499, 525, 475, 518, 477, 507, 498, 497, 505, 500" />
241    <area shape="poly" alt="70 " data-type="6" coords="518, 530, 499, 525, 505, 500, 512, 501, 525, 505" />
240    <area shape="poly" alt="71 " data-type="6" coords="518, 530, 525, 505, 543, 510, 537, 535" />
239    <area shape="poly" alt="72 " data-type="6" coords="558, 514, 559, 534, 557, 537, 552, 539, 537, 535, 543, 510" />
244    <area shape="poly" alt="73 " data-type="6" coords="541, 483, 533, 480, 515, 489, 512, 501, 534, 508" />
243    <area shape="poly" alt="74 " data-type="6" coords="558, 487, 558, 514, 534, 508, 541, 483" />

238    <area shape="poly" alt="75 " data-type="6" coords="567, 527, 567, 540, 572, 545, 592, 550, 592, 527" />
228    <area shape="poly" alt="76 " data-type="6" coords="619, 543, 619, 561, 604, 561, 593, 558, 592, 543" />
229    <area shape="poly" alt="77 " data-type="6" coords="619, 527, 619, 543, 592, 543, 592, 527" />

237    <area shape="poly" alt="78 " data-type="6" coords="567, 510, 567, 527, 592, 527, 592, 510" />
230    <area shape="poly" alt="79 " data-type="6" coords="619, 510, 619, 527, 592, 527, 592, 510" />
236    <area shape="poly" alt="80 " data-type="6" coords="592, 510, 567, 510, 567, 494, 592, 494" />
231    <area shape="poly" alt="81 " data-type="6" coords="618, 494, 619, 510, 592, 510, 592, 494" />

235    <area shape="poly" alt="82 " data-type="6" coords="567, 477, 567, 494, 592, 494, 592, 477" />
232    <area shape="poly" alt="83 " data-type="6" coords="618, 472, 618, 494, 592, 494, 592, 472" />
234    <area shape="poly" alt="84 " data-type="6" coords="592, 453, 567, 465, 567, 477, 592, 477" />
233    <area shape="poly" alt="85 " data-type="6" coords="618, 440, 618, 472, 592, 472, 592, 453" />

45    <area shape="poly" alt="86 " data-type="6" coords="655, 630, 632, 623, 628, 620, 628, 610, 655, 610" />
55    <area shape="poly" alt="87 " data-type="6" coords="677, 610, 677, 635, 655, 630, 655, 610" />
46    <area shape="poly" alt="88 " data-type="6" coords="655, 610, 628, 610, 628, 594, 655, 594" />
56    <area shape="poly" alt="89 " data-type="6" coords="676, 590, 677, 610, 655, 610, 655, 590" />

57    <area shape="poly" alt="90 " data-type="6" coords="676, 571, 676, 590, 655, 590, 654, 571" />
47    <area shape="poly" alt="91 " data-type="6" coords="627, 571, 627, 586, 654, 586, 654, 571" />
48    <area shape="poly" alt="92 " data-type="6" coords="654, 571, 627, 571, 627, 554, 654, 554" />
58    <area shape="poly" alt="93 " data-type="6" coords="675, 551, 676, 571, 654, 571, 654, 551" />

59    <area shape="poly" alt="94 " data-type="6" coords="675, 532, 675, 551, 654, 551, 654, 532" />
49    <area shape="poly" alt="95 " data-type="6" coords="626, 532, 626, 547, 654, 547, 654, 532" />
50    <area shape="poly" alt="96 " data-type="6" coords="654, 532, 675, 532, 675, 512, 654, 512" />
60    <area shape="poly" alt="97 " data-type="6" coords="654, 515, 626, 515, 626, 532, 654, 532" />

261    <area shape="poly" alt="98 " data-type="6" coords="675, 492, 675, 512, 654, 512, 654, 492" />
251    <area shape="poly" alt="99 " data-type="6" coords="627, 492, 627, 508, 654, 508, 654, 492" />
252    <area shape="poly" alt="100" data-type="6" coords="627, 476, 654, 476, 654, 492, 627, 492" />
262    <area shape="poly" alt="101" data-type="6" coords="675, 473, 675, 492, 654, 492, 654, 473" />

263    <area shape="poly" alt="102" data-type="6" coords="675, 473, 675, 448, 654, 448, 654, 473" />
253    <area shape="poly" alt="103" data-type="6" coords="627, 454, 627, 469, 654, 469, 654, 454" />
254    <area shape="poly" alt="104" data-type="6" coords="654, 424, 627, 437, 627, 454, 654, 454, 654, 448" />
264    <area shape="poly" alt="105" data-type="6" coords="675, 414, 675, 448, 654, 448, 654, 424" />

*172    <area shape="poly" alt="106" data-type="6" coords="583, 430, 590, 436, 608, 428, 592, 417" />
167    <area shape="poly" alt="107" data-type="6" coords="544, 441, 558, 422, 579, 436, 575, 443, 555, 453" />
168    <area shape="poly" alt="108" data-type="6" coords="571, 403, 558, 422, 579, 436, 592, 417" />
172*    <area shape="poly" alt="109" data-type="6" coords="592, 417, 608, 428, 620, 422, 623, 418, 602, 404" />
169    <area shape="poly" alt="110" data-type="6" coords="580, 389, 571, 403, 592, 417, 602, 404" />
173    <area shape="poly" alt="111" data-type="6" coords="602, 404, 623, 418, 632, 405, 611, 390" />
174    <area shape="poly" alt="112" data-type="6" coords="611, 390, 632, 405, 643, 389, 643, 385, 635, 383, 619, 378" />
170    <area shape="poly" alt="113" data-type="6" coords="580, 389, 589, 376, 611, 390, 602, 404" />
171    <area shape="poly" alt="114" data-type="6" coords="598, 362, 589, 376, 611, 390, 620, 376" />

162    <area shape="poly" alt="115" data-type="6" coords="598, 362, 611, 344, 627, 349, 620, 376" />
163    <area shape="poly" alt="116" data-type="6" coords="627, 349, 619, 378, 635, 383, 643, 353" />
164    <area shape="poly" alt="117" data-type="6" coords="636, 378, 654, 383, 662, 359, 643, 353" />
165    <area shape="poly" alt="118" data-type="6" coords="654, 383, 673, 389, 680, 364, 662, 359" />
166    <area shape="poly" alt="119" data-type="6" coords="684, 392, 702, 384, 706, 371, 693, 368, 680, 364, 673, 389" />

155    <area shape="poly" alt="120" data-type="6" coords="638, 325, 626, 321, 611, 344, 630, 350" />
156    <area shape="poly" alt="121" data-type="6" coords="654, 329, 638, 325, 630, 350, 646, 354" />
157    <area shape="poly" alt="122" data-type="6" coords="662, 359, 646, 354, 654, 329, 669, 334" />
158    <area shape="poly" alt="123" data-type="6" coords="685, 338, 669, 334, 662, 359, 678, 363" />
159    <area shape="poly" alt="124" data-type="6" coords="701, 342, 685, 338, 678, 363, 693, 368" />
160    <area shape="poly" alt="125" data-type="6" coords="711, 372, 693, 368, 701, 342, 719, 348" />
161    <area shape="poly" alt="126" data-type="6" coords="744, 355, 742, 365, 721, 375, 711, 372, 719, 348" />

46    <area shape="poly" alt="167" data-type="6" coords="424, 488, 417, 508, 420, 512, 425, 513, 436, 508, 443, 498" />
100    <area shape="poly" alt="168" data-type="6" coords="443, 498, 450, 501, 480, 487, 458, 472" />
47    <area shape="poly" alt="169" data-type="6" coords="433, 464, 424, 488, 443, 498, 454, 478" />
48    <area shape="poly" alt="170" data-type="6" coords="454, 478, 433, 464, 442, 447, 464, 463" />
99    <area shape="poly" alt="171" data-type="6" coords="500, 477, 480, 487, 458, 472, 469, 457" />

97    <area shape="poly" alt="172" data-type="6" coords="486, 467, 500, 477, 517, 470, 519, 466, 497, 451" />
95    <area shape="poly" alt="173" data-type="6" coords="505, 438, 527, 453, 519, 466, 497, 451" />
98    <area shape="poly" alt="174" data-type="6" coords="497, 451, 486, 467, 465, 454, 477, 437" />
96    <area shape="poly" alt="175" data-type="6" coords="507, 435, 497, 451, 475, 436, 485, 420" />
49    <area shape="poly" alt="176" data-type="6" coords="455, 423, 446, 441, 465, 454, 477, 437" />
50    <area shape="poly" alt="177" data-type="6" coords="465, 406, 455, 423, 475, 436, 485, 420" />

93    <area shape="poly" alt="178" data-type="6" coords="540, 434, 532, 447, 510, 431, 518, 419" />
94    <area shape="poly" alt="179" data-type="6" coords="485, 420, 507, 435, 518, 419, 496, 404" />
51    <area shape="poly" alt="180" data-type="6" coords="496, 404, 485, 420, 465, 406, 474, 389" />
52    <area shape="poly" alt="181" data-type="6" coords="496, 404, 474, 389, 485, 373, 507, 388" />
92    <area shape="poly" alt="182" data-type="6" coords="518, 419, 496, 404, 507, 388, 529, 402" />
91    <area shape="poly" alt="183" data-type="6" coords="549, 420, 540, 434, 518, 419, 527, 405" />

90    <area shape="poly" alt="184" data-type="6" coords="507, 388, 518, 371, 540, 386, 529, 402" />
89    <area shape="poly" alt="185" data-type="6" coords="562, 401, 554, 414, 531, 399, 540, 386" />
87    <area shape="poly" alt="186" data-type="6" coords="540, 386, 562, 401, 571, 388, 549, 373" />
88    <area shape="poly" alt="187" data-type="6" coords="518, 371, 540, 386, 551, 370, 529, 356" />
53    <area shape="poly" alt="188" data-type="6" coords="518, 371, 507, 388, 485, 373, 496, 356" />
54    <area shape="poly" alt="189" data-type="6" coords="487, 369, 480, 366, 483, 328, 505, 343" />
55    <area shape="poly" alt="190" data-type="6" coords="507, 340, 496, 356, 518, 371, 529, 356" />

86    <area shape="poly" alt="191" data-type="6" coords="529, 356, 551, 370, 562, 354, 540, 339" />
57    <area shape="poly" alt="192" data-type="6" coords="540, 339, 529, 356, 507, 340, 518, 324" />
56    <area shape="poly" alt="193" data-type="6" coords="496, 309, 488, 322, 509, 337, 518, 324" />
85    <area shape="poly" alt="194" data-type="6" coords="584, 369, 575, 382, 553, 367, 562, 354" />
83    <area shape="poly" alt="195" data-type="6" coords="562, 354, 584, 369, 593, 356, 571, 341" />
84    <area shape="poly" alt="196" data-type="6" coords="540, 339, 562, 354, 573, 338, 551, 323" />
59    <area shape="poly" alt="197" data-type="6" coords="551, 323, 540, 339, 518, 324, 529, 308" />
58    <area shape="poly" alt="198" data-type="6" coords="505, 296, 496, 309, 518, 324, 527, 311" />

81    <area shape="poly" alt="199" data-type="6" coords="606, 336, 598, 349, 575, 335, 584, 322" />
82    <area shape="poly" alt="200" data-type="6" coords="551, 323, 573, 338, 584, 322, 562, 307" />
79    <area shape="poly" alt="201" data-type="6" coords="584, 322, 606, 336, 615, 323, 593, 309" />
80    <area shape="poly" alt="202" data-type="6" coords="562, 307, 584, 322, 595, 306, 573, 291" />
77    <area shape="poly" alt="203" data-type="6" coords="628, 304, 620, 317, 598, 302, 606, 289" />
78    <area shape="poly" alt="204" data-type="6" coords="573, 291, 595, 306, 606, 289, 584, 274" />
75    <area shape="poly" alt="205" data-type="6" coords="606, 289, 628, 304, 637, 291, 615, 276" />
73    <area shape="poly" alt="206" data-type="6" coords="619, 270, 641, 285, 652, 268, 652, 264, 648, 261, 631, 252" />
76    <area shape="poly" alt="207" data-type="6" coords="617, 273, 606, 289, 584, 274, 595, 258" />
74    <area shape="poly" alt="208" data-type="6" coords="625, 261, 617, 273, 595, 258, 603, 246" />
72    <area shape="poly" alt="209" data-type="6" coords="613, 232, 623, 245, 631, 252, 625, 261, 603, 246" />

61    <area shape="poly" alt="210" data-type="6" coords="540, 292, 562, 307, 551, 323, 529, 308" />
60    <area shape="poly" alt="211" data-type="6" coords="518, 277, 509, 290, 531, 305, 540, 292" />
63    <area shape="poly" alt="212" data-type="6" coords="540, 292, 551, 275, 573, 291, 562, 307" />
62    <area shape="poly" alt="213" data-type="6" coords="527, 264, 518, 277, 540, 292, 548, 279" />

65    <area shape="poly" alt="214" data-type="6" coords="584, 274, 573, 291, 551, 275, 562, 259" />
67    <area shape="poly" alt="215" data-type="6" coords="595, 258, 584, 274, 562, 259, 573, 244" />
69    <area shape="poly" alt="216" data-type="6" coords="605, 242, 595, 258, 573, 244, 584, 227" />
64    <area shape="poly" alt="217" data-type="6" coords="540, 245, 531, 257, 553, 272, 562, 259" />
66    <area shape="poly" alt="218" data-type="6" coords="548, 231, 571, 247, 562, 259, 540, 245" />
71    <area shape="poly" alt="219" data-type="6" coords="597, 211, 613, 232, 605, 242, 584, 227" />
68    <area shape="poly" alt="220" data-type="6" coords="565, 208, 553, 225, 575, 240, 587, 223" />
70    <area shape="poly" alt="221" data-type="6" coords="578, 187, 597, 211, 587, 223, 565, 208" />

147    <area shape="poly" alt="127" data-type="6" coords="646, 292, 634, 309, 634, 312, 635, 315, 637, 316, 653, 321, 661, 296" />
148    <area shape="poly" alt="128" data-type="6" coords="672, 326, 653, 321, 661, 296, 680, 301" />
149    <area shape="poly" alt="129" data-type="6" coords="680, 301, 672, 326, 687, 331, 695, 306" />
150    <area shape="poly" alt="130" data-type="6" coords="695, 306, 687, 331, 703, 335, 711, 310" />
151    <area shape="poly" alt="131" data-type="6" coords="719, 340, 703, 335, 711, 310, 726, 315" />
152    <area shape="poly" alt="132" data-type="6" coords="726, 315, 719, 340, 734, 344, 742, 320" />
153    <area shape="poly" alt="133" data-type="6" coords="755, 350, 734, 344, 742, 320, 763, 325" />
154    <area shape="poly" alt="134" data-type="6" coords="787, 332, 784, 345, 767, 354, 755, 350, 763, 325" />

146    <area shape="poly" alt="135" data-type="6" coords="799, 309, 826, 317, 823, 327, 803, 336, 793, 334" />
145    <area shape="poly" alt="136" data-type="6" coords="781, 304, 799, 309, 793, 334, 774, 328" />
144    <area shape="poly" alt="137" data-type="6" coords="765, 299, 781, 304, 774, 328, 758, 324" />
143    <area shape="poly" alt="138" data-type="6" coords="750, 294, 765, 299, 758, 324, 742, 320" />
142    <area shape="poly" alt="139" data-type="6" coords="734, 290, 750, 294, 742, 320, 726, 315" />
142    <area shape="poly" alt="140" data-type="6" coords="718, 285, 734, 290, 726, 315, 711, 310" />
140    <area shape="poly" alt="141" data-type="6" coords="703, 281, 718, 285, 711, 310, 695, 306" />
139    <area shape="poly" alt="142" data-type="6" coords="687, 276, 703, 281, 695, 306, 680, 301" />
138    <area shape="poly" alt="143" data-type="6" coords="671, 272, 687, 276, 680, 301, 664, 297" />
137    <area shape="poly" alt="144" data-type="6" coords="662, 267, 671, 272, 664, 297, 646, 292" />

136    <area shape="poly" alt="155" data-type="6" coords="889, 274, 913, 280, 914, 285, 888, 298, 883, 297" />
135    <area shape="poly" alt="156" data-type="6" coords="872, 270, 889, 274, 883, 297, 866, 292" />
134    <area shape="poly" alt="157" data-type="6" coords="852, 265, 872, 270, 866, 292, 846, 286" />
132    <area shape="poly" alt="158" data-type="6" coords="833, 260, 852, 265, 846, 286, 827, 280" />
130    <area shape="poly" alt="159" data-type="6" coords="814, 254, 833, 260, 827, 280, 808, 275" />
128    <area shape="poly" alt="160" data-type="6" coords="789, 269, 808, 275, 814, 254, 795, 249" />
126    <area shape="poly" alt="161" data-type="6" coords="770, 264, 789, 269, 795, 249, 776, 243" />
124    <area shape="poly" alt="162" data-type="6" coords="752, 259, 770, 264, 776, 243, 758, 238" />
122    <area shape="poly" alt="163" data-type="6" coords="733, 253, 752, 259, 758, 238, 739, 232" />
120    <area shape="poly" alt="164" data-type="6" coords="720, 227, 739, 232, 733, 253, 714, 248" />
118    <area shape="poly" alt="165" data-type="6" coords="701, 222, 720, 227, 714, 248, 695, 243" />
116    <area shape="poly" alt="166" data-type="6" coords="682, 215, 701, 222, 695, 243, 673, 236" />

117    <area shape="poly" alt="153" data-type="6" coords="688, 269, 703, 273, 710, 247, 695, 243" />
115    <area shape="poly" alt="154" data-type="6" coords="665, 261, 676, 237, 695, 243, 688, 269" />

133    <area shape="poly" alt="145" data-type="6" coords="846, 286, 860, 290, 854, 313, 850, 316, 838, 312" />
131    <area shape="poly" alt="146" data-type="6" coords="846, 286, 838, 312, 823, 308, 830, 281" />
129    <area shape="poly" alt="147" data-type="6" coords="801, 301, 815, 306, 823, 279, 808, 275" />
127    <area shape="poly" alt="148" data-type="6" coords="808, 275, 801, 301, 785, 297, 793, 270" />
125    <area shape="poly" alt="149" data-type="6" coords="763, 290, 778, 295, 786, 268, 770, 264" />
123    <area shape="poly" alt="150" data-type="6" coords="770, 264, 763, 290, 748, 286, 755, 260" />
121    <area shape="poly" alt="151" data-type="6" coords="725, 279, 740, 284, 748, 258, 733, 253" />
119    <area shape="poly" alt="152" data-type="6" coords="717, 249, 710, 275, 725, 279, 733, 253" />

112    <area shape="poly" alt="222" data-type="6" coords="644, 251, 658, 257, 670, 232, 656, 227" />
113    <area shape="poly" alt="223" data-type="6" coords="656, 227, 644, 251, 634, 245, 626, 236, 647, 220" />
114    <area shape="poly" alt="224" data-type="6" coords="664, 206, 682, 215, 674, 234, 656, 227, 647, 220" />
110    <area shape="poly" alt="225" data-type="6" coords="647, 220, 626, 236, 616, 224, 638, 207" />
111    <area shape="poly" alt="226" data-type="6" coords="653, 191, 664, 206, 647, 220, 636, 204" />

109    <area shape="poly" alt="227" data-type="6" coords="641, 176, 653, 191, 636, 204, 624, 189" />
108    <area shape="poly" alt="228" data-type="6" coords="602, 206, 611, 218, 633, 201, 624, 189" />
106    <area shape="poly" alt="229" data-type="6" coords="624, 189, 602, 206, 593, 193, 614, 177" />
107    <area shape="poly" alt="230" data-type="6" coords="629, 160, 641, 176, 624, 189, 612, 174" />
105    <area shape="poly" alt="231" data-type="6" coords="617, 145, 629, 160, 612, 174, 600, 158" />
104    <area shape="poly" alt="232" data-type="6" coords="600, 158, 610, 171, 588, 187, 578, 175" />
102    <area shape="poly" alt="233" data-type="6" coords="591, 146, 600, 158, 617, 145, 608, 132" />
101    <area shape="poly" alt="234" data-type="6" coords="595, 115, 608, 132, 591, 146, 583, 135, 584, 129" />

1    <area shape="poly" alt="235" data-type="6" coords="341, 526, 367, 529, 373, 516, 348, 506" />
ss    <area shape="poly" alt="236" data-type="6" coords="348, 506, 341, 526, 321, 524, 322, 517, 333, 503" />
2    <area shape="poly" alt="237" data-type="6" coords="377, 503, 402, 512, 398, 525, 394, 528, 368, 526, 375, 509" />
3    <area shape="poly" alt="238" data-type="6" coords="348, 506, 373, 516, 378, 499, 354, 490" />
ss    <area shape="poly" alt="239" data-type="6" coords="354, 490, 348, 506, 333, 503, 335, 483" />

5    <area shape="poly" alt="240" data-type="6" coords="410, 491, 405, 505, 380, 496, 386, 481" />
4    <area shape="poly" alt="241" data-type="6" coords="354, 490, 378, 499, 386, 481, 361, 472" />
ss    <area shape="poly" alt="242" data-type="6" coords="361, 472, 354, 490, 335, 483, 336, 474, 341, 464" />
6    <area shape="poly" alt="243" data-type="6" coords="386, 481, 410, 491, 416, 476, 391, 466" />
7    <area shape="poly" alt="244" data-type="6" coords="361, 472, 386, 481, 392, 463, 368, 454" />
ss    <area shape="poly" alt="245" data-type="6" coords="368, 454, 361, 472, 341, 464, 350, 447" />

8    <area shape="poly" alt="246" data-type="6" coords="368, 454, 392, 463, 399, 444, 376, 433" />
ss    <area shape="poly" alt="247" data-type="6" coords="376, 433, 368, 454, 350, 447, 357, 424" />
9    <area shape="poly" alt="248" data-type="6" coords="424, 454, 419, 469, 394, 459, 399, 444" />
ss    <area shape="poly" alt="249" data-type="6" coords="372, 404, 368, 413, 357, 424, 376, 433, 388, 412" />
10    <area shape="poly" alt="250" data-type="6" coords="399, 444, 424, 454, 432, 441, 408, 428" />
11    <area shape="poly" alt="251" data-type="6" coords="388, 412, 376, 433, 399, 444, 410, 425" />

13    <area shape="poly" alt="252" data-type="6" coords="443, 421, 435, 434, 412, 421, 420, 408" />
12    <area shape="poly" alt="253" data-type="6" coords="420, 408, 410, 425, 388, 412, 397, 395" />
ss    <area shape="poly" alt="254" data-type="6" coords="397, 395, 388, 412, 372, 404, 375, 395, 376, 384" />
14    <area shape="poly" alt="255" data-type="6" coords="420, 408, 443, 421, 451, 407, 427, 394" />
15    <area shape="poly" alt="256" data-type="6" coords="397, 395, 420, 408, 429, 391, 406, 378" />
ss    <area shape="poly" alt="257" data-type="6" coords="406, 378, 397, 395, 376, 384, 382, 365" />

17    <area shape="poly" alt="258" data-type="6" coords="462, 387, 454, 401, 431, 387, 438, 374" />
16    <area shape="poly" alt="259" data-type="6" coords="406, 378, 429, 391, 440, 369, 416, 360" />
ss    <area shape="poly" alt="260" data-type="6" coords="389, 353, 382, 365, 406, 378, 414, 363" />
18    <area shape="poly" alt="261" data-type="6" coords="469, 364, 469, 376, 462, 387, 438, 374, 440, 369, 442, 363" />
20    <area shape="poly" alt="262" data-type="6" coords="442, 363, 469, 364, 469, 348, 443, 347" />
19    <area shape="poly" alt="263" data-type="6" coords="416, 360, 440, 369, 442, 363, 443, 343, 417, 341" />
ss    <area shape="poly" alt="264" data-type="6" coords="417, 341, 416, 360, 414, 363, 389, 353, 393, 347, 394, 341" />

21    <area shape="poly" alt="265" data-type="6" coords="417, 341, 443, 343, 445, 318, 418, 313" />
ss    <area shape="poly" alt="266" data-type="6" coords="418, 313, 417, 341, 394, 341, 394, 320, 397, 315, 395, 308" />
22    <area shape="poly" alt="267" data-type="6" coords="451, 307, 473, 322, 470, 325, 471, 340, 443, 339, 445, 318, 446, 315" />
ss    <area shape="poly" alt="268" data-type="6" coords="431, 289, 418, 308, 418, 313, 395, 308, 394, 301, 394, 298, 396, 296, 403, 295, 407, 293, 407, 287, 411, 283, 417, 279" />
23    <area shape="poly" alt="269" data-type="6" coords="431, 289, 418, 308, 418, 313, 445, 318, 446, 315, 453, 303" />

25    <area shape="poly" alt="270" data-type="6" coords="431, 289, 453, 303, 464, 287, 442, 273" />
ss    <area shape="poly" alt="271" data-type="6" coords="431, 265, 417, 279, 431, 289, 442, 273" />
24    <area shape="poly" alt="272" data-type="6" coords="486, 302, 477, 315, 455, 300, 464, 287" />
26    <area shape="poly" alt="273" data-type="6" coords="464, 287, 486, 302, 495, 289, 473, 275" />
27    <area shape="poly" alt="274" data-type="6" coords="442, 273, 464, 287, 475, 272, 453, 257" />
ss    <area shape="poly" alt="275" data-type="6" coords="453, 257, 442, 273, 431, 265, 440, 252, 440, 248" />

27    <area shape="poly" alt="276" data-type="6" coords="453, 257, 475, 272, 486, 255, 465, 241" />
ss    <area shape="poly" alt="277" data-type="6" coords="465, 241, 453, 257, 440, 248, 444, 227" />
26    <area shape="poly" alt="278" data-type="6" coords="508, 270, 499, 283, 477, 268, 486, 255" />
30    <area shape="poly" alt="279" data-type="6" coords="486, 255, 508, 270, 517, 257, 495, 242" />
31    <area shape="poly" alt="280" data-type="6" coords="465, 241, 486, 255, 497, 239, 475, 224" />
ss    <area shape="poly" alt="281" data-type="6" coords="475, 224, 465, 241, 444, 227, 457, 212" />

32    <area shape="poly" alt="282" data-type="6" coords="530, 238, 521, 251, 499, 236, 508, 223" />
33    <area shape="poly" alt="283" data-type="6" coords="475, 224, 497, 239, 508, 223, 486, 208" />
ss    <area shape="poly" alt="284" data-type="6" coords="469, 197, 457, 212, 475, 224, 486, 208" />
34    <area shape="poly" alt="285" data-type="6" coords="508, 223, 530, 238, 538, 225, 517, 210" />
35    <area shape="poly" alt="286" data-type="6" coords="486, 208, 508, 223, 519, 207, 497, 192" />
ss    <area shape="poly" alt="287" data-type="6" coords="497, 192, 486, 208, 469, 197, 481, 181" />

36    <area shape="poly" alt="288" data-type="6" coords="552, 205, 543, 218, 521, 204, 530, 191" />
37    <area shape="poly" alt="289" data-type="6" coords="497, 192, 508, 176, 533, 186, 530, 191, 519, 207" />
38    <area shape="poly" alt="290" data-type="6" coords="559, 187, 558, 197, 552, 205, 530, 191, 533, 186, 534, 181" />
45    <area shape="poly" alt="291" data-type="6" coords="558, 98, 582, 117, 574, 126, 546, 120" />
ss    <area shape="poly" alt="292" data-type="6" coords="491, 168, 481, 181, 497, 192, 508, 176" />
40    <area shape="poly" alt="293" data-type="6" coords="537, 166, 563, 172, 559, 187, 534, 181" />
39    <area shape="poly" alt="294" data-type="6" coords="508, 176, 533, 186, 538, 162, 512, 157" />
ss    <area shape="poly" alt="295" data-type="6" coords="512, 157, 508, 176, 491, 168, 494, 164, 492, 159, 477, 151, 484, 146" />


41    <area shape="poly" alt="296" data-type="6" coords="568, 149, 564, 164, 539, 158, 542, 143" />
42    <area shape="poly" alt="297" data-type="6" coords="512, 157, 538, 162, 542, 143, 516, 138" />
ss    <area shape="poly" alt="298" data-type="6" coords="516, 138, 512, 157, 484, 146, 477, 151, 467, 145, 467, 140, 480, 123" />
43    <area shape="poly" alt="299" data-type="6" coords="545, 127, 570, 133, 568, 149, 542, 143" />
44    <area shape="poly" alt="300" data-type="6" coords="521, 121, 545, 127, 542, 143, 516, 138" />
ss    <area shape="poly" alt="301" data-type="6" coords="521, 121, 496, 101, 480, 123, 516, 138" />


--------------------------------------------------
#3

58        <area shape="poly" alt="9  " title="9  " href="" target="" data-type="6" coords="548, 572, 566, 558, 558, 544, 538, 557" />
59        <area shape="poly" alt="10 " title="10 " href="" target="" data-type="6" coords="518, 566, 530, 585, 548, 572, 536, 555" />
61        <area shape="poly" alt="18 " title="18 " href="" target="" data-type="6" coords="507, 550, 518, 566, 536, 555, 525, 538" />
60        <area shape="poly" alt="19 " title="19 " href="" target="" data-type="6" coords="545, 526, 555, 540, 534, 552, 525, 538" />
62        <area shape="poly" alt="20 " title="20 " href="" target="" data-type="6" coords="525, 538, 545, 526, 536, 511, 516, 525" />
63        <area shape="poly" alt="21 " title="21 " href="" target="" data-type="6" coords="496, 534, 507, 550, 525, 538, 514, 522" />

54        <area shape="poly" alt="5  " title="5  " href="" target="" data-type="6" coords="570, 604, 588, 590, 578, 576, 560, 590" />
55        <area shape="poly" alt="6  " title="6  " href="" target="" data-type="6" coords="541, 601, 552, 616, 570, 604, 558, 588" />
56        <area shape="poly" alt="7  " title="7  " href="" target="" data-type="6" coords="548, 572, 566, 558, 576, 571, 557, 586" />
57        <area shape="poly" alt="8  " title="8  " href="" target="" data-type="6" coords="530, 585, 541, 601, 558, 588, 548, 572" />

50        <area shape="poly" alt="1  " title="1  " href="" target="" data-type="6" coords="597, 637, 606, 614, 598, 603, 581, 628" />
52        <area shape="poly" alt="2  " title="2  " href="" target="" data-type="6" coords="581, 619, 595, 599, 588, 590, 570, 604" />
51        <area shape="poly" alt="3  " title="3  " href="" target="" data-type="6" coords="565, 634, 586, 662, 597, 637, 577, 626" />
53        <area shape="poly" alt="4  " title="4  " href="" target="" data-type="6" coords="552, 616, 565, 634, 577, 626, 581, 619, 570, 604" />

65        <area shape="poly" alt="22 " title="22 " href="" target="" data-type="6" coords="485, 517, 496, 534, 514, 522, 504, 506" />
64        <area shape="poly" alt="23 " title="23 " href="" target="" data-type="6" coords="523, 494, 533, 507, 513, 520, 504, 506" />
66        <area shape="poly" alt="24 " title="24 " href="" target="" data-type="6" coords="504, 506, 523, 494, 516, 480, 496, 492" />
67        <area shape="poly" alt="25 " title="25 " href="" target="" data-type="6" coords="476, 500, 485, 517, 504, 506, 494, 489" />
68        <area shape="poly" alt="26 " title="26 " href="" target="" data-type="6" coords="506, 461, 514, 476, 493, 487, 485, 472" />
69        <area shape="poly" alt="27 " title="27 " href="" target="" data-type="6" coords="466, 482, 476, 500, 494, 489, 485, 472" />
71        <area shape="poly" alt="28 " title="28 " href="" target="" data-type="6" coords="485, 472, 466, 482, 457, 465, 476, 455" />
70        <area shape="poly" alt="29 " title="29 " href="" target="" data-type="6" coords="485, 472, 506, 461, 498, 445, 477, 457" />

49        <area shape="poly" alt="11 " title="11 " href="" target="" data-type="6" coords="619, 585, 609, 607, 590, 582, 597, 572" />
47        <area shape="poly" alt="12 " title="12 " href="" target="" data-type="6" coords="607, 555, 590, 546, 580, 565, 590, 582, 597, 572" />
48        <area shape="poly" alt="13 " title="13 " href="" target="" data-type="6" coords="629, 567, 619, 585, 597, 572, 607, 555" />
45        <area shape="poly" alt="14 " title="14 " href="" target="" data-type="6" coords="601, 526, 592, 542, 613, 552, 621, 537" />
46        <area shape="poly" alt="15 " title="15 " href="" target="" data-type="6" coords="640, 547, 629, 567, 610, 557, 621, 537" />
43        <area shape="poly" alt="16 " title="16 " href="" target="" data-type="6" coords="621, 537, 601, 526, 609, 512, 629, 523" />
44        <area shape="poly" alt="17 " title="17 " href="" target="" data-type="6" coords="649, 531, 640, 547, 621, 537, 631, 520" />

73        <area shape="poly" alt="50 " title="50 " href="" target="" data-type="6" coords="448, 448, 457, 465, 476, 455, 467, 438" />
72        <area shape="poly" alt="51 " title="51 " href="" target="" data-type="6" coords="487, 427, 495, 442, 475, 453, 467, 438" />
74        <area shape="poly" alt="52 " title="52 " href="" target="" data-type="6" coords="467, 438, 487, 427, 480, 412, 459, 423" />
75        <area shape="poly" alt="53 " title="53 " href="" target="" data-type="6" coords="439, 431, 448, 448, 467, 438, 458, 421" />
77        <area shape="poly" alt="54 " title="54 " href="" target="" data-type="6" coords="430, 414, 439, 431, 458, 421, 448, 404" />
76        <area shape="poly" alt="55 " title="55 " href="" target="" data-type="6" coords="469, 392, 477, 407, 456, 418, 448, 404" />
79        <area shape="poly" alt="56 " title="56 " href="" target="" data-type="6" coords="438, 384, 415, 387, 430, 414, 448, 404" />
78        <area shape="poly" alt="57 " title="57 " href="" target="" data-type="6" coords="462, 380, 438, 384, 448, 404, 469, 392" />

97        <area shape="poly" alt="46 " title="46 " href="" target="" data-type="6" coords="559, 438, 568, 452, 545, 465, 537, 451" />
85        <area shape="poly" alt="47 " title="47 " href="" target="" data-type="6" coords="511, 456, 519, 471, 542, 459, 533, 444" />
84        <area shape="poly" alt="48 " title="48 " href="" target="" data-type="6" coords="503, 441, 511, 456, 533, 444, 524, 429" />
83        <area shape="poly" alt="49 " title="49 " href="" target="" data-type="6" coords="496, 428, 503, 441, 524, 429, 516, 415" />

98        <area shape="poly" alt="58 " title="58 " href="" target="" data-type="6" coords="551, 424, 559, 438, 537, 451, 529, 437" />
99        <area shape="poly" alt="59 " title="59 " href="" target="" data-type="6" coords="543, 410, 551, 424, 529, 437, 521, 423" />
100        <area shape="poly" alt="60 " title="60 " href="" target="" data-type="6" coords="535, 396, 543, 410, 521, 423, 512, 409" />
101        <area shape="poly" alt="61 " title="61 " href="" target="" data-type="6" coords="527, 381, 535, 396, 512, 409, 504, 395" />
82        <area shape="poly" alt="62 " title="62 " href="" target="" data-type="6" coords="508, 402, 516, 415, 496, 428, 488, 414" />
81        <area shape="poly" alt="63 " title="63 " href="" target="" data-type="6" coords="480, 399, 488, 414, 508, 402, 500, 388" />
80        <area shape="poly" alt="64 " title="64 " href="" target="" data-type="6" coords="493, 376, 469, 379, 480, 399, 500, 388" />
102        <area shape="poly" alt="65 " title="65 " href="" target="" data-type="6" coords="520, 372, 493, 376, 504, 395, 527, 381" />

94        <area shape="poly" alt="41 " title="41 " href="" target="" data-type="6" coords="584, 480, 592, 494, 570, 507, 561, 493" />
95        <area shape="poly" alt="42 " title="42 " href="" target="" data-type="6" coords="576, 466, 584, 480, 561, 493, 553, 479" />
87        <area shape="poly" alt="43 " title="43 " href="" target="" data-type="6" coords="527, 486, 536, 500, 558, 487, 549, 473" />
86        <area shape="poly" alt="44 " title="44 " href="" target="" data-type="6" coords="519, 471, 527, 486, 549, 473, 542, 459" />
96        <area shape="poly" alt="45 " title="45 " href="" target="" data-type="6" coords="545, 465, 553, 479, 576, 466, 568, 452" />

88        <area shape="poly" alt="30 " title="30 " href="" target="" data-type="6" coords="545, 513, 536, 500, 558, 487, 566, 501" />
89        <area shape="poly" alt="31 " title="31 " href="" target="" data-type="6" coords="555, 528, 545, 513, 566, 501, 575, 516" />
90        <area shape="poly" alt="32 " title="32 " href="" target="" data-type="6" coords="563, 541, 555, 528, 575, 516, 583, 530" />
91        <area shape="poly" alt="33 " title="33 " href="" target="" data-type="6" coords="587, 537, 575, 559, 563, 541, 583, 530" />
92        <area shape="poly" alt="34 " title="34 " href="" target="" data-type="6" coords="599, 506, 602, 511, 587, 537, 577, 519" />
93        <area shape="poly" alt="35 " title="35 " href="" target="" data-type="6" coords="592, 494, 599, 506, 577, 519, 570, 507" />

108        <area shape="poly" alt="36 " title="36 " href="" target="" data-type="6" coords="616, 483, 606, 504, 591, 478, 607, 468" />
109        <area shape="poly" alt="37 " title="37 " href="" target="" data-type="6" coords="601, 456, 616, 483, 628, 462, 618, 446" />
107        <area shape="poly" alt="38 " title="38 " href="" target="" data-type="6" coords="582, 463, 591, 478, 607, 468, 599, 453" />
106        <area shape="poly" alt="39 " title="39 " href="" target="" data-type="6" coords="590, 439, 573, 449, 582, 463, 599, 453" />
110        <area shape="poly" alt="40 " title="40 " href="" target="" data-type="6" coords="590, 439, 609, 428, 618, 446, 601, 456" />

42        <area shape="poly" alt="71 " title="71 " href="" target="" data-type="6" coords="658, 514, 649, 531, 631, 520, 639, 503" />
41        <area shape="poly" alt="72 " title="72 " href="" target="" data-type="6" coords="619, 492, 611, 507, 632, 518, 639, 503" />
39        <area shape="poly" alt="73 " title="73 " href="" target="" data-type="6" coords="639, 503, 619, 492, 627, 477, 648, 488" />
40        <area shape="poly" alt="74 " title="74 " href="" target="" data-type="6" coords="668, 496, 658, 514, 639, 503, 649, 486" />
38        <area shape="poly" alt="75 " title="75 " href="" target="" data-type="6" coords="677, 479, 668, 496, 649, 486, 650, 484, 658, 469" />
37        <area shape="poly" alt="76 " title="76 " href="" target="" data-type="6" coords="638, 458, 630, 473, 650, 484, 658, 469" />
35        <area shape="poly" alt="77 " title="77 " href="" target="" data-type="6" coords="658, 469, 638, 458, 645, 443, 666, 453" />
36        <area shape="poly" alt="78 " title="78 " href="" target="" data-type="6" coords="686, 460, 677, 479, 658, 469, 667, 451" />

105        <area shape="poly" alt="66 " title="66 " href="" target="" data-type="6" coords="543, 398, 552, 411, 569, 402, 560, 387" />
104        <area shape="poly" alt="67 " title="67 " href="" target="" data-type="6" coords="536, 384, 543, 398, 560, 387, 552, 374" />
103        <area shape="poly" alt="68 " title="68 " href="" target="" data-type="6" coords="547, 365, 527, 370, 536, 384, 552, 374" />
111        <area shape="poly" alt="69 " title="69 " href="" target="" data-type="6" coords="559, 386, 569, 402, 587, 391, 578, 376" />
112        <area shape="poly" alt="70 " title="70 " href="" target="" data-type="6" coords="568, 360, 547, 365, 559, 386, 578, 376" />

32        <area shape="poly" alt="85 " title="85 " href="" target="" data-type="6" coords="680, 423, 675, 420, 655, 422, 647, 439, 668, 448" />
34        <area shape="poly" alt="86 " title="86 " href="" target="" data-type="6" coords="694, 444, 686, 460, 667, 451, 674, 435" />
33        <area shape="poly" alt="87 " title="87 " href="" target="" data-type="6" coords="705, 422, 694, 444, 674, 435, 680, 423, 686, 419" />

123        <area shape="poly" alt="79 " title="79 " href="" target="" data-type="6" coords="614, 438, 628, 462, 639, 440, 632, 427" />
121        <area shape="poly" alt="80 " title="80 " href="" target="" data-type="6" coords="606, 423, 614, 438, 632, 427, 624, 413" />
119        <area shape="poly" alt="81 " title="81 " href="" target="" data-type="6" coords="597, 409, 606, 423, 624, 413, 616, 399" />
117        <area shape="poly" alt="82 " title="82 " href="" target="" data-type="6" coords="589, 395, 597, 409, 616, 399, 607, 385" />
115        <area shape="poly" alt="83 " title="83 " href="" target="" data-type="6" coords="581, 381, 589, 395, 607, 385, 599, 371" />
113        <area shape="poly" alt="84 " title="84 " href="" target="" data-type="6" coords="589, 355, 568, 360, 581, 381, 599, 371" />

29         <area shape="poly" alt="88 " title="88 " href="" target="" data-type="6" coords="667, 389, 648, 401, 657, 417, 683, 414" />
122        <area shape="poly" alt="89 " title="89 " href="" target="" data-type="6" coords="641, 403, 650, 417, 639, 440, 624, 413" />
120        <area shape="poly" alt="90 " title="90 " href="" target="" data-type="6" coords="633, 389, 641, 403, 624, 413, 616, 399" />
118        <area shape="poly" alt="91 " title="91 " href="" target="" data-type="6" coords="625, 375, 633, 389, 616, 399, 607, 385" />
116        <area shape="poly" alt="92 " title="92 " href="" target="" data-type="6" coords="616, 361, 625, 375, 607, 385, 599, 371" />
114        <area shape="poly" alt="93 " title="93 " href="" target="" data-type="6" coords="610, 349, 616, 361, 599, 371, 589, 355" />

31        <area shape="poly" alt="94 " title="94 " href="" target="" data-type="6" coords="708, 413, 697, 395, 678, 406, 686, 419, 705, 422" />
30        <area shape="poly" alt="95 " title="95 " href="" target="" data-type="6" coords="685, 376, 697, 395, 678, 406, 666, 387" />
27        <area shape="poly" alt="96 " title="96 " href="" target="" data-type="6" coords="635, 379, 646, 397, 665, 385, 655, 368" />
28        <area shape="poly" alt="97 " title="97 " href="" target="" data-type="6" coords="674, 357, 685, 376, 666, 387, 655, 368" />
25        <area shape="poly" alt="98 " title="98 " href="" target="" data-type="6" coords="655, 368, 635, 379, 625, 363, 645, 351" />
26        <area shape="poly" alt="99 " title="99 " href="" target="" data-type="6" coords="663, 338, 674, 357, 655, 368, 644, 349" />

2        <area shape="poly" alt="100" title="100" href="" target="" data-type="6" coords="421, 358, 400, 360, 412, 381, 424, 379" />
4        <area shape="poly" alt="101" title="101" href="" target="" data-type="6" coords="443, 376, 440, 355, 421, 358, 424, 379" />
6        <area shape="poly" alt="102" title="102" href="" target="" data-type="6" coords="465, 351, 446, 354, 449, 376, 468, 373" />
8        <area shape="poly" alt="103" title="103" href="" target="" data-type="6" coords="465, 351, 468, 373, 487, 370, 484, 348" />
10        <area shape="poly" alt="104" title="104" href="" target="" data-type="6" coords="511, 367, 492, 369, 489, 348, 508, 345" />
12        <area shape="poly" alt="105" title="105" href="" target="" data-type="6" coords="508, 345, 511, 367, 534, 362, 529, 340" />
14        <area shape="poly" alt="106" title="106" href="" target="" data-type="6" coords="558, 355, 539, 360, 533, 339, 552, 334" />
16        <area shape="poly" alt="107" title="107" href="" target="" data-type="6" coords="552, 334, 558, 355, 577, 351, 571, 330" />

1        <area shape="poly" alt="108" title="108" href="" target="" data-type="6" coords="417, 334, 388, 338, 400, 360, 421, 358" />
3        <area shape="poly" alt="109" title="109" href="" target="" data-type="6" coords="440, 331, 417, 334, 421, 358, 443, 354" />
5        <area shape="poly" alt="110" title="110" href="" target="" data-type="6" coords="462, 328, 440, 331, 443, 354, 465, 351" />
7        <area shape="poly" alt="111" title="111" href="" target="" data-type="6" coords="483, 325, 462, 328, 465, 351, 486, 348" />
9        <area shape="poly" alt="112" title="112" href="" target="" data-type="6" coords="505, 322, 483, 325, 486, 348, 508, 345" />
11        <area shape="poly" alt="113" title="113" href="" target="" data-type="6" coords="531, 339, 508, 345, 505, 322, 526, 317" />
13        <area shape="poly" alt="114" title="114" href="" target="" data-type="6" coords="547, 312, 526, 317, 531, 339, 552, 334" />
15        <area shape="poly" alt="115" title="115" href="" target="" data-type="6" coords="568, 306, 547, 312, 552, 334, 574, 329" />
18        <area shape="poly" alt="116" title="116" href="" target="" data-type="6" coords="595, 324, 606, 343, 582, 350, 576, 329" />
17        <area shape="poly" alt="117" title="117" href="" target="" data-type="6" coords="582, 303, 595, 324, 574, 329, 568, 306" />

23        <area shape="poly" alt="118" title="118" href="" target="" data-type="6" coords="633, 330, 613, 342, 622, 358, 643, 347" />
24        <area shape="poly" alt="119" title="119" href="" target="" data-type="6" coords="652, 319, 663, 338, 644, 349, 633, 330" />
21        <area shape="poly" alt="120" title="120" href="" target="" data-type="6" coords="633, 330, 613, 342, 603, 325, 623, 313" />
22        <area shape="poly" alt="121" title="121" href="" target="" data-type="6" coords="640, 300, 652, 319, 633, 330, 622, 311" />
19        <area shape="poly" alt="122" title="122" href="" target="" data-type="6" coords="610, 292, 589, 300, 600, 321, 620, 308" />
20        <area shape="poly" alt="123" title="123" href="" target="" data-type="6" coords="631, 283, 640, 300, 622, 311, 610, 292" />


--------------------------------------------------
#2


16        <area shape="poly" alt="157" title="157" href="" target="" data-type="6" coords="519, 164, 528, 159, 534, 139, 530, 137, 507, 146" />
15        <area shape="poly" alt="158" title="158" href="" target="" data-type="6" coords="534, 139, 558, 153, 544, 169, 528, 159" />
14        <area shape="poly" alt="159" title="159" href="" target="" data-type="6" coords="577, 163, 558, 153, 544, 169, 559, 180, 577, 169" />

31        <area shape="poly" alt="150" title="150" href="" target="" data-type="6" coords="520, 198, 510, 204, 506, 203, 497, 188, 498, 186, 493, 180, 504, 174" />
33        <area shape="poly" alt="151" title="151" href="" target="" data-type="6" coords="532, 191, 549, 180, 532, 167, 527, 167, 520, 172" />
18        <area shape="poly" alt="152" title="152" href="" target="" data-type="6" coords="476, 158, 490, 153, 504, 174, 490, 182" />
32        <area shape="poly" alt="153" title="153" href="" target="" data-type="6" coords="520, 198, 532, 191, 516, 166, 504, 174" />
17        <area shape="poly" alt="154" title="154" href="" target="" data-type="6" coords="490, 153, 507, 146, 519, 164, 504, 174" />

30        <area shape="poly" alt="138" title="138" href="" target="" data-type="6" coords="491, 216, 502, 209, 502, 205, 494, 190, 491, 190, 487, 184, 475, 192" />
21        <area shape="poly" alt="139" title="139" href="" target="" data-type="6" coords="463, 200, 451, 211, 437, 193, 449, 177" />
20        <area shape="poly" alt="140" title="140" href="" target="" data-type="6" coords="461, 165, 449, 169, 449, 177, 463, 200, 477, 191" />
19        <area shape="poly" alt="141" title="141" href="" target="" data-type="6" coords="476, 158, 461, 165, 477, 191, 490, 182" />

22        <area shape="poly" alt="131" title="131" href="" target="" data-type="6" coords="439, 222, 425, 209, 437, 193, 451, 211" />
27        <area shape="poly" alt="132" title="132" href="" target="" data-type="6" coords="465, 232, 451, 241, 439, 222, 451, 211" />
28        <area shape="poly" alt="133" title="133" href="" target="" data-type="6" coords="451, 211, 465, 232, 478, 224, 463, 200" />
29        <area shape="poly" alt="134" title="134" href="" target="" data-type="6" coords="478, 224, 491, 216, 475, 192, 463, 200" />

25        <area shape="poly" alt="127" title="127" href="" target="" data-type="6" coords="435, 250, 419, 261, 408, 253, 426, 235" />
26        <area shape="poly" alt="128" title="128" href="" target="" data-type="6" coords="451, 241, 435, 250, 426, 235, 439, 222" />
24        <area shape="poly" alt="129" title="129" href="" target="" data-type="6" coords="426, 235, 408, 253, 403, 248, 402, 239, 412, 225" />
23        <area shape="poly" alt="130" title="130" href="" target="" data-type="6" coords="439, 222, 426, 235, 412, 225, 425, 209" />

1        <area shape="poly" alt="124" title="124" href="" target="" data-type="6" coords="399, 273, 388, 275, 387, 311, 406, 302" />
2        <area shape="poly" alt="125" title="125" href="" target="" data-type="6" coords="413, 268, 399, 272, 406, 302, 421, 294" />
3        <area shape="poly" alt="126" title="126" href="" target="" data-type="6" coords="444, 284, 421, 266, 413, 268, 421, 294" />
4        <area shape="poly" alt="142" title="142" href="" target="" data-type="6" coords="442, 252, 423, 264, 446, 282, 456, 276" />
5        <area shape="poly" alt="143" title="143" href="" target="" data-type="6" coords="455, 244, 442, 252, 456, 276, 469, 267" />
6        <area shape="poly" alt="144" title="144" href="" target="" data-type="6" coords="468, 236, 455, 244, 469, 267, 482, 259" />
7        <area shape="poly" alt="145" title="145" href="" target="" data-type="6" coords="468, 236, 481, 228, 495, 251, 482, 259" />
8        <area shape="poly" alt="146" title="146" href="" target="" data-type="6" coords="496, 219, 483, 227, 497, 250, 511, 241" />
9        <area shape="poly" alt="147" title="147" href="" target="" data-type="6" coords="509, 210, 496, 219, 511, 241, 524, 234" />
10        <area shape="poly" alt="148" title="148" href="" target="" data-type="6" coords="537, 225, 524, 234, 509, 210, 523, 202" />
11        <area shape="poly" alt="149" title="149" href="" target="" data-type="6" coords="552, 215, 537, 225, 523, 202, 539, 192" />
12        <area shape="poly" alt="155" title="155" href="" target="" data-type="6" coords="552, 215, 568, 206, 554, 183, 539, 192" />
13        <area shape="poly" alt="156" title="156" href="" target="" data-type="6" coords="568, 206, 577, 201, 577, 169, 554, 183" />
36        <area shape="poly" alt="135" title="135" href="" target="" data-type="6" coords="415, 213, 405, 227, 399, 225, 390, 198, 390, 192" />
35        <area shape="poly" alt="136" title="136" href="" target="" data-type="6" coords="408, 186, 390, 192, 415, 213, 424, 200" />
34        <area shape="poly" alt="137" title="137" href="" target="" data-type="6" coords="437, 174, 441, 178, 424, 200, 408, 186" />

--------------------------------------------------------------------------------
%>


<% if  false and   @page.id == 9  %>

        <area shape="poly" alt="1  " title="1  " href="" target="" data-type="6" coords="597, 637, 606, 614, 598, 603, 581, 628" />
        <area shape="poly" alt="2  " title="2  " href="" target="" data-type="6" coords="581, 619, 595, 599, 588, 590, 570, 604" />
        <area shape="poly" alt="3  " title="3  " href="" target="" data-type="6" coords="565, 634, 586, 662, 597, 637, 577, 626" />
        <area shape="poly" alt="4  " title="4  " href="" target="" data-type="6" coords="552, 616, 565, 634, 577, 626, 581, 619, 570, 604" />
        <area shape="poly" alt="5  " title="5  " href="" target="" data-type="6" coords="570, 604, 588, 590, 578, 576, 560, 590" />
        <area shape="poly" alt="6  " title="6  " href="" target="" data-type="6" coords="541, 601, 552, 616, 570, 604, 558, 588" />
        <area shape="poly" alt="7  " title="7  " href="" target="" data-type="6" coords="548, 572, 566, 558, 576, 571, 557, 586" />
        <area shape="poly" alt="8  " title="8  " href="" target="" data-type="6" coords="530, 585, 541, 601, 558, 588, 548, 572" />
        <area shape="poly" alt="9  " title="9  " href="" target="" data-type="6" coords="548, 572, 566, 558, 558, 544, 538, 557" />
        <area shape="poly" alt="10 " title="10 " href="" target="" data-type="6" coords="518, 566, 530, 585, 548, 572, 536, 555" />
        <area shape="poly" alt="11 " title="11 " href="" target="" data-type="6" coords="619, 585, 609, 607, 590, 582, 597, 572" />
        <area shape="poly" alt="12 " title="12 " href="" target="" data-type="6" coords="607, 555, 590, 546, 580, 565, 590, 582, 597, 572" />
        <area shape="poly" alt="13 " title="13 " href="" target="" data-type="6" coords="629, 567, 619, 585, 597, 572, 607, 555" />
        <area shape="poly" alt="14 " title="14 " href="" target="" data-type="6" coords="601, 526, 592, 542, 613, 552, 621, 537" />
        <area shape="poly" alt="15 " title="15 " href="" target="" data-type="6" coords="640, 547, 629, 567, 610, 557, 621, 537" />
        <area shape="poly" alt="16 " title="16 " href="" target="" data-type="6" coords="621, 537, 601, 526, 609, 512, 629, 523" />
        <area shape="poly" alt="17 " title="17 " href="" target="" data-type="6" coords="649, 531, 640, 547, 621, 537, 631, 520" />
        <area shape="poly" alt="18 " title="18 " href="" target="" data-type="6" coords="507, 550, 518, 566, 536, 555, 525, 538" />
        <area shape="poly" alt="19 " title="19 " href="" target="" data-type="6" coords="545, 526, 555, 540, 534, 552, 525, 538" />
        <area shape="poly" alt="20 " title="20 " href="" target="" data-type="6" coords="525, 538, 545, 526, 536, 511, 516, 525" />
        <area shape="poly" alt="21 " title="21 " href="" target="" data-type="6" coords="496, 534, 507, 550, 525, 538, 514, 522" />
        <area shape="poly" alt="22 " title="22 " href="" target="" data-type="6" coords="485, 517, 496, 534, 514, 522, 504, 506" />
        <area shape="poly" alt="23 " title="23 " href="" target="" data-type="6" coords="523, 494, 533, 507, 513, 520, 504, 506" />
        <area shape="poly" alt="24 " title="24 " href="" target="" data-type="6" coords="504, 506, 523, 494, 516, 480, 496, 492" />
        <area shape="poly" alt="25 " title="25 " href="" target="" data-type="6" coords="476, 500, 485, 517, 504, 506, 494, 489" />
        <area shape="poly" alt="26 " title="26 " href="" target="" data-type="6" coords="506, 461, 514, 476, 493, 487, 485, 472" />
        <area shape="poly" alt="27 " title="27 " href="" target="" data-type="6" coords="466, 482, 476, 500, 494, 489, 485, 472" />
        <area shape="poly" alt="28 " title="28 " href="" target="" data-type="6" coords="485, 472, 466, 482, 457, 465, 476, 455" />
        <area shape="poly" alt="29 " title="29 " href="" target="" data-type="6" coords="485, 472, 506, 461, 498, 445, 477, 457" />
        <area shape="poly" alt="30 " title="30 " href="" target="" data-type="6" coords="545, 513, 536, 500, 558, 487, 566, 501" />
        <area shape="poly" alt="31 " title="31 " href="" target="" data-type="6" coords="555, 528, 545, 513, 566, 501, 575, 516" />
        <area shape="poly" alt="32 " title="32 " href="" target="" data-type="6" coords="563, 541, 555, 528, 575, 516, 583, 530" />
        <area shape="poly" alt="33 " title="33 " href="" target="" data-type="6" coords="587, 537, 575, 559, 563, 541, 583, 530" />
        <area shape="poly" alt="34 " title="34 " href="" target="" data-type="6" coords="599, 506, 602, 511, 587, 537, 577, 519" />
        <area shape="poly" alt="35 " title="35 " href="" target="" data-type="6" coords="592, 494, 599, 506, 577, 519, 570, 507" />
        <area shape="poly" alt="36 " title="36 " href="" target="" data-type="6" coords="616, 483, 606, 504, 591, 478, 607, 468" />
        <area shape="poly" alt="37 " title="37 " href="" target="" data-type="6" coords="601, 456, 616, 483, 628, 462, 618, 446" />
        <area shape="poly" alt="38 " title="38 " href="" target="" data-type="6" coords="582, 463, 591, 478, 607, 468, 599, 453" />
        <area shape="poly" alt="39 " title="39 " href="" target="" data-type="6" coords="590, 439, 573, 449, 582, 463, 599, 453" />
        <area shape="poly" alt="40 " title="40 " href="" target="" data-type="6" coords="590, 439, 609, 428, 618, 446, 601, 456" />
        <area shape="poly" alt="41 " title="41 " href="" target="" data-type="6" coords="584, 480, 592, 494, 570, 507, 561, 493" />
        <area shape="poly" alt="42 " title="42 " href="" target="" data-type="6" coords="576, 466, 584, 480, 561, 493, 553, 479" />
        <area shape="poly" alt="43 " title="43 " href="" target="" data-type="6" coords="527, 486, 536, 500, 558, 487, 549, 473" />
        <area shape="poly" alt="44 " title="44 " href="" target="" data-type="6" coords="519, 471, 527, 486, 549, 473, 542, 459" />
        <area shape="poly" alt="45 " title="45 " href="" target="" data-type="6" coords="545, 465, 553, 479, 576, 466, 568, 452" />
        <area shape="poly" alt="46 " title="46 " href="" target="" data-type="6" coords="559, 438, 568, 452, 545, 465, 537, 451" />
        <area shape="poly" alt="47 " title="47 " href="" target="" data-type="6" coords="511, 456, 519, 471, 542, 459, 533, 444" />
        <area shape="poly" alt="48 " title="48 " href="" target="" data-type="6" coords="503, 441, 511, 456, 533, 444, 524, 429" />
        <area shape="poly" alt="49 " title="49 " href="" target="" data-type="6" coords="496, 428, 503, 441, 524, 429, 516, 415" />
        <area shape="poly" alt="50 " title="50 " href="" target="" data-type="6" coords="448, 448, 457, 465, 476, 455, 467, 438" />
        <area shape="poly" alt="51 " title="51 " href="" target="" data-type="6" coords="487, 427, 495, 442, 475, 453, 467, 438" />
        <area shape="poly" alt="52 " title="52 " href="" target="" data-type="6" coords="467, 438, 487, 427, 480, 412, 459, 423" />
        <area shape="poly" alt="53 " title="53 " href="" target="" data-type="6" coords="439, 431, 448, 448, 467, 438, 458, 421" />
        <area shape="poly" alt="54 " title="54 " href="" target="" data-type="6" coords="430, 414, 439, 431, 458, 421, 448, 404" />
        <area shape="poly" alt="55 " title="55 " href="" target="" data-type="6" coords="469, 392, 477, 407, 456, 418, 448, 404" />
        <area shape="poly" alt="56 " title="56 " href="" target="" data-type="6" coords="438, 384, 415, 387, 430, 414, 448, 404" />
        <area shape="poly" alt="57 " title="57 " href="" target="" data-type="6" coords="462, 380, 438, 384, 448, 404, 469, 392" />
        <area shape="poly" alt="58 " title="58 " href="" target="" data-type="6" coords="551, 424, 559, 438, 537, 451, 529, 437" />
        <area shape="poly" alt="59 " title="59 " href="" target="" data-type="6" coords="543, 410, 551, 424, 529, 437, 521, 423" />
        <area shape="poly" alt="60 " title="60 " href="" target="" data-type="6" coords="535, 396, 543, 410, 521, 423, 512, 409" />
        <area shape="poly" alt="61 " title="61 " href="" target="" data-type="6" coords="527, 381, 535, 396, 512, 409, 504, 395" />
        <area shape="poly" alt="62 " title="62 " href="" target="" data-type="6" coords="508, 402, 516, 415, 496, 428, 488, 414" />
        <area shape="poly" alt="63 " title="63 " href="" target="" data-type="6" coords="480, 399, 488, 414, 508, 402, 500, 388" />
        <area shape="poly" alt="64 " title="64 " href="" target="" data-type="6" coords="493, 376, 469, 379, 480, 399, 500, 388" />
        <area shape="poly" alt="65 " title="65 " href="" target="" data-type="6" coords="520, 372, 493, 376, 504, 395, 527, 381" />
        <area shape="poly" alt="66 " title="66 " href="" target="" data-type="6" coords="543, 398, 552, 411, 569, 402, 560, 387" />
        <area shape="poly" alt="67 " title="67 " href="" target="" data-type="6" coords="536, 384, 543, 398, 560, 387, 552, 374" />
        <area shape="poly" alt="68 " title="68 " href="" target="" data-type="6" coords="547, 365, 527, 370, 536, 384, 552, 374" />
        <area shape="poly" alt="69 " title="69 " href="" target="" data-type="6" coords="559, 386, 569, 402, 587, 391, 578, 376" />
        <area shape="poly" alt="70 " title="70 " href="" target="" data-type="6" coords="568, 360, 547, 365, 559, 386, 578, 376" />
        <area shape="poly" alt="71 " title="71 " href="" target="" data-type="6" coords="658, 514, 649, 531, 631, 520, 639, 503" />
        <area shape="poly" alt="72 " title="72 " href="" target="" data-type="6" coords="619, 492, 611, 507, 632, 518, 639, 503" />
        <area shape="poly" alt="73 " title="73 " href="" target="" data-type="6" coords="639, 503, 619, 492, 627, 477, 648, 488" />
        <area shape="poly" alt="74 " title="74 " href="" target="" data-type="6" coords="668, 496, 658, 514, 639, 503, 649, 486" />
        <area shape="poly" alt="75 " title="75 " href="" target="" data-type="6" coords="677, 479, 668, 496, 649, 486, 650, 484, 658, 469" />
        <area shape="poly" alt="76 " title="76 " href="" target="" data-type="6" coords="638, 458, 630, 473, 650, 484, 658, 469" />
        <area shape="poly" alt="77 " title="77 " href="" target="" data-type="6" coords="658, 469, 638, 458, 645, 443, 666, 453" />
        <area shape="poly" alt="78 " title="78 " href="" target="" data-type="6" coords="686, 460, 677, 479, 658, 469, 667, 451" />
        <area shape="poly" alt="79 " title="79 " href="" target="" data-type="6" coords="614, 438, 628, 462, 639, 440, 632, 427" />
        <area shape="poly" alt="80 " title="80 " href="" target="" data-type="6" coords="606, 423, 614, 438, 632, 427, 624, 413" />
        <area shape="poly" alt="81 " title="81 " href="" target="" data-type="6" coords="597, 409, 606, 423, 624, 413, 616, 399" />
        <area shape="poly" alt="82 " title="82 " href="" target="" data-type="6" coords="589, 395, 597, 409, 616, 399, 607, 385" />
        <area shape="poly" alt="83 " title="83 " href="" target="" data-type="6" coords="581, 381, 589, 395, 607, 385, 599, 371" />
        <area shape="poly" alt="84 " title="84 " href="" target="" data-type="6" coords="589, 355, 568, 360, 581, 381, 599, 371" />
        <area shape="poly" alt="85 " title="85 " href="" target="" data-type="6" coords="680, 423, 675, 420, 655, 422, 647, 439, 668, 448" />
        <area shape="poly" alt="86 " title="86 " href="" target="" data-type="6" coords="694, 444, 686, 460, 667, 451, 674, 435" />
        <area shape="poly" alt="87 " title="87 " href="" target="" data-type="6" coords="705, 422, 694, 444, 674, 435, 680, 423, 686, 419" />
        <area shape="poly" alt="88 " title="88 " href="" target="" data-type="6" coords="667, 389, 648, 401, 657, 417, 683, 414" />
        <area shape="poly" alt="89 " title="89 " href="" target="" data-type="6" coords="641, 403, 650, 417, 639, 440, 624, 413" />
        <area shape="poly" alt="90 " title="90 " href="" target="" data-type="6" coords="633, 389, 641, 403, 624, 413, 616, 399" />
        <area shape="poly" alt="91 " title="91 " href="" target="" data-type="6" coords="625, 375, 633, 389, 616, 399, 607, 385" />
        <area shape="poly" alt="92 " title="92 " href="" target="" data-type="6" coords="616, 361, 625, 375, 607, 385, 599, 371" />
        <area shape="poly" alt="93 " title="93 " href="" target="" data-type="6" coords="610, 349, 616, 361, 599, 371, 589, 355" />
        <area shape="poly" alt="94 " title="94 " href="" target="" data-type="6" coords="708, 413, 697, 395, 678, 406, 686, 419, 705, 422" />
        <area shape="poly" alt="95 " title="95 " href="" target="" data-type="6" coords="685, 376, 697, 395, 678, 406, 666, 387" />
        <area shape="poly" alt="96 " title="96 " href="" target="" data-type="6" coords="635, 379, 646, 397, 665, 385, 655, 368" />
        <area shape="poly" alt="97 " title="97 " href="" target="" data-type="6" coords="674, 357, 685, 376, 666, 387, 655, 368" />
        <area shape="poly" alt="98 " title="98 " href="" target="" data-type="6" coords="655, 368, 635, 379, 625, 363, 645, 351" />
        <area shape="poly" alt="99 " title="99 " href="" target="" data-type="6" coords="663, 338, 674, 357, 655, 368, 644, 349" />
        <area shape="poly" alt="100" title="100" href="" target="" data-type="6" coords="421, 358, 400, 360, 412, 381, 424, 379" />
        <area shape="poly" alt="101" title="101" href="" target="" data-type="6" coords="443, 376, 440, 355, 421, 358, 424, 379" />
        <area shape="poly" alt="102" title="102" href="" target="" data-type="6" coords="465, 351, 446, 354, 449, 376, 468, 373" />
        <area shape="poly" alt="103" title="103" href="" target="" data-type="6" coords="465, 351, 468, 373, 487, 370, 484, 348" />
        <area shape="poly" alt="104" title="104" href="" target="" data-type="6" coords="511, 367, 492, 369, 489, 348, 508, 345" />
        <area shape="poly" alt="105" title="105" href="" target="" data-type="6" coords="508, 345, 511, 367, 534, 362, 529, 340" />
        <area shape="poly" alt="106" title="106" href="" target="" data-type="6" coords="558, 355, 539, 360, 533, 339, 552, 334" />
        <area shape="poly" alt="107" title="107" href="" target="" data-type="6" coords="552, 334, 558, 355, 577, 351, 571, 330" />
        <area shape="poly" alt="108" title="108" href="" target="" data-type="6" coords="417, 334, 388, 338, 400, 360, 421, 358" />
        <area shape="poly" alt="109" title="109" href="" target="" data-type="6" coords="440, 331, 417, 334, 421, 358, 443, 354" />
        <area shape="poly" alt="110" title="110" href="" target="" data-type="6" coords="462, 328, 440, 331, 443, 354, 465, 351" />
        <area shape="poly" alt="111" title="111" href="" target="" data-type="6" coords="483, 325, 462, 328, 465, 351, 486, 348" />
        <area shape="poly" alt="112" title="112" href="" target="" data-type="6" coords="505, 322, 483, 325, 486, 348, 508, 345" />
        <area shape="poly" alt="113" title="113" href="" target="" data-type="6" coords="531, 339, 508, 345, 505, 322, 526, 317" />
        <area shape="poly" alt="114" title="114" href="" target="" data-type="6" coords="547, 312, 526, 317, 531, 339, 552, 334" />
        <area shape="poly" alt="115" title="115" href="" target="" data-type="6" coords="568, 306, 547, 312, 552, 334, 574, 329" />
        <area shape="poly" alt="116" title="116" href="" target="" data-type="6" coords="595, 324, 606, 343, 582, 350, 576, 329" />
        <area shape="poly" alt="117" title="117" href="" target="" data-type="6" coords="582, 303, 595, 324, 574, 329, 568, 306" />
        <area shape="poly" alt="118" title="118" href="" target="" data-type="6" coords="633, 330, 613, 342, 622, 358, 643, 347" />
        <area shape="poly" alt="119" title="119" href="" target="" data-type="6" coords="652, 319, 663, 338, 644, 349, 633, 330" />
        <area shape="poly" alt="120" title="120" href="" target="" data-type="6" coords="633, 330, 613, 342, 603, 325, 623, 313" />
        <area shape="poly" alt="121" title="121" href="" target="" data-type="6" coords="640, 300, 652, 319, 633, 330, 622, 311" />
        <area shape="poly" alt="122" title="122" href="" target="" data-type="6" coords="610, 292, 589, 300, 600, 321, 620, 308" />
        <area shape="poly" alt="123" title="123" href="" target="" data-type="6" coords="631, 283, 640, 300, 622, 311, 610, 292" />
        <area shape="poly" alt="124" title="124" href="" target="" data-type="6" coords="399, 273, 388, 275, 387, 311, 406, 302" />
        <area shape="poly" alt="125" title="125" href="" target="" data-type="6" coords="413, 268, 399, 272, 406, 302, 421, 294" />
        <area shape="poly" alt="126" title="126" href="" target="" data-type="6" coords="444, 284, 421, 266, 413, 268, 421, 294" />
        <area shape="poly" alt="127" title="127" href="" target="" data-type="6" coords="435, 250, 419, 261, 408, 253, 426, 235" />
        <area shape="poly" alt="128" title="128" href="" target="" data-type="6" coords="451, 241, 435, 250, 426, 235, 439, 222" />
        <area shape="poly" alt="129" title="129" href="" target="" data-type="6" coords="426, 235, 408, 253, 403, 248, 402, 239, 412, 225" />
        <area shape="poly" alt="130" title="130" href="" target="" data-type="6" coords="439, 222, 426, 235, 412, 225, 425, 209" />
        <area shape="poly" alt="131" title="131" href="" target="" data-type="6" coords="439, 222, 425, 209, 437, 193, 451, 211" />
        <area shape="poly" alt="132" title="132" href="" target="" data-type="6" coords="465, 232, 451, 241, 439, 222, 451, 211" />
        <area shape="poly" alt="133" title="133" href="" target="" data-type="6" coords="451, 211, 465, 232, 478, 224, 463, 200" />
        <area shape="poly" alt="134" title="134" href="" target="" data-type="6" coords="478, 224, 491, 216, 475, 192, 463, 200" />
        <area shape="poly" alt="135" title="135" href="" target="" data-type="6" coords="415, 213, 405, 227, 399, 225, 390, 198, 390, 192" />
        <area shape="poly" alt="136" title="136" href="" target="" data-type="6" coords="408, 186, 390, 192, 415, 213, 424, 200" />
        <area shape="poly" alt="137" title="137" href="" target="" data-type="6" coords="437, 174, 441, 178, 424, 200, 408, 186" />
        <area shape="poly" alt="138" title="138" href="" target="" data-type="6" coords="491, 216, 502, 209, 502, 205, 494, 190, 491, 190, 487, 184, 475, 192" />
        <area shape="poly" alt="139" title="139" href="" target="" data-type="6" coords="463, 200, 451, 211, 437, 193, 449, 177" />
        <area shape="poly" alt="140" title="140" href="" target="" data-type="6" coords="461, 165, 449, 169, 449, 177, 463, 200, 477, 191" />
        <area shape="poly" alt="141" title="141" href="" target="" data-type="6" coords="476, 158, 461, 165, 477, 191, 490, 182" />
        <area shape="poly" alt="142" title="142" href="" target="" data-type="6" coords="442, 252, 423, 264, 446, 282, 456, 276" />
        <area shape="poly" alt="143" title="143" href="" target="" data-type="6" coords="455, 244, 442, 252, 456, 276, 469, 267" />
        <area shape="poly" alt="144" title="144" href="" target="" data-type="6" coords="468, 236, 455, 244, 469, 267, 482, 259" />
        <area shape="poly" alt="145" title="145" href="" target="" data-type="6" coords="468, 236, 481, 228, 495, 251, 482, 259" />
        <area shape="poly" alt="146" title="146" href="" target="" data-type="6" coords="496, 219, 483, 227, 497, 250, 511, 241" />
        <area shape="poly" alt="147" title="147" href="" target="" data-type="6" coords="509, 210, 496, 219, 511, 241, 524, 234" />
        <area shape="poly" alt="148" title="148" href="" target="" data-type="6" coords="537, 225, 524, 234, 509, 210, 523, 202" />
        <area shape="poly" alt="149" title="149" href="" target="" data-type="6" coords="552, 215, 537, 225, 523, 202, 539, 192" />
        <area shape="poly" alt="150" title="150" href="" target="" data-type="6" coords="520, 198, 510, 204, 506, 203, 497, 188, 498, 186, 493, 180, 504, 174" />
        <area shape="poly" alt="151" title="151" href="" target="" data-type="6" coords="532, 191, 549, 180, 532, 167, 527, 167, 520, 172" />
        <area shape="poly" alt="152" title="152" href="" target="" data-type="6" coords="476, 158, 490, 153, 504, 174, 490, 182" />
        <area shape="poly" alt="153" title="153" href="" target="" data-type="6" coords="520, 198, 532, 191, 516, 166, 504, 174" />
        <area shape="poly" alt="154" title="154" href="" target="" data-type="6" coords="490, 153, 507, 146, 519, 164, 504, 174" />
        <area shape="poly" alt="155" title="155" href="" target="" data-type="6" coords="552, 215, 568, 206, 554, 183, 539, 192" />
        <area shape="poly" alt="156" title="156" href="" target="" data-type="6" coords="568, 206, 577, 201, 577, 169, 554, 183" />
        <area shape="poly" alt="157" title="157" href="" target="" data-type="6" coords="519, 164, 528, 159, 534, 139, 530, 137, 507, 146" />
        <area shape="poly" alt="158" title="158" href="" target="" data-type="6" coords="534, 139, 558, 153, 544, 169, 528, 159" />
        <area shape="poly" alt="159" title="159" href="" target="" data-type="6" coords="577, 163, 558, 153, 544, 169, 559, 180, 577, 169" />

<% end %>


       <% if false and ! @homesteads.empty? %>
        <% @homesteads.each do |hom| %>
        <area shape="poly" alt="" title="" href="" target="" data-type="<%= hom.site_num.to_s -%>" coords="<%= hom.site_num.to_s -%>" />
        <% end %>
       <% end %>

			</map>
			<div class="map-canvas"></div>
		</div>


