<p style="font-size:11px;"> 
  <% if user_signed_in? %>          
    <span>Добрый день, <%= current_user.email %></span> 
    
    <% if controller.class.zone != :admin %><br /><% end %>
    
    

    
    <%= link_to 'Site', root_path  %> 
    <%= link_to 'ЛК', lk_home_path  -%> 
    
    <% if current_user.admin? %>
      <%#=  Rails.env  %> 
      <%= link_to 'Админ', admin_home_index_path  %> 
    <% end %>
   
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to 'Войти', new_user_session_path %> <a></a> 
    <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %> 
</p>

