<h1>Отправьте нам ваш вопрос</h1>

<%= form_for(@message, :url => { :controller => "post", :action => "in_question_from_site"},
            :method => "post") do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul><% @message.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :is_actual %><br>
    <%= f.check_box :is_actual %>
  </div>
  <div class="field">
    <%= f.label :is_deleted %><br>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :homestead_id %><br>
    <%= f.number_field :homestead_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

