<h1> Спецресурсы  </h1>

<p><%= link_to  'Дачные участки',      admin_homesteads_path  %></p>
<p><%= link_to  'Мета тэги',           admin_meta_tags_path   %></p>
<p><%= link_to  'Принятые сообщения',  admin_messages_path    %></p>

<p><%= link_to  'Дачные участки',      admin_homesteads_path  %></p>
<p><%= link_to  'Дачные участки',      admin_homesteads_path  %></p>
<p><%= link_to  'Дачные участки',      admin_homesteads_path  %></p>


